<nav class="d-flex flex-row flex-align-items-center p-10 bg-primary navbar-expand-lg" data-bs-theme="dark">
  
  <ul>
    <li>
      <a routerLink="home" class="logo p-20">Demo Angular</a>
    </li>
      <li>
        <a routerLink="demos">Démonstration</a>
        <ul>
          <li>
            <a routerLink="demo01" routerLinkActive="active-link">
              ✅ Demo 01 - Property Binding (One-Way)
            </a>
          </li>
          <li>
            <a routerLink="demo02" routerLinkActive="active-link">
              ✅ Demo 02 - Property Binding (Two-Way)
            </a>
          </li>
          <li>
            <a routerLink="demo03" routerLinkActive="active-link">
              ✅ Demo 03 - Event Binding
            </a>
          </li>
          <li>
            <a routerLink="demo04" routerLinkActive="active-link">
              ✅ Demo 04 - Attribute Binding
            </a>
          </li>
          <li>
            <a routerLink="demo05" routerLinkActive="active-link">
              ✅ Demo 05 - La base du routing
            </a>
          </li>
          <li>
            <a routerLink="demo06" routerLinkActive="active-link">
              ✅ Demo 06 - Les pipes
            </a>
          </li>
          <li>
            <a routerLink="demo07" routerLinkActive="active-link">
              ✅ Demo 07 - Les Custom Pipes
            </a>
          </li>
        </ul>
      </li>
      <li>
        <a routerLink="exercices">Exercices
        </a>
        <ul>
          <li>
            <a routerLink="/exercices/exo01" routerLinkActive="active-link">
              ✅ Exercice 01 - Le profil
            </a>
          </li>
          <li>
            <a routerLink="/exercices/exo02" routerLinkActive="active-link">
              ✅ Exercice 02 - Complétion du profil
            </a>
          </li>
          <li>
            <a routerLink="/exercices/exo03" routerLinkActive="active-link">
              ✅ Exercice 03 - Le chronomètre (basique)
            </a>
          </li>
          <li>
            <a routerLink="/exercices/exo04" routerLinkActive="active-link">
              ✅ Exercice 04 - Toggle password
            </a>
          </li>
          <li>
            <a routerLink="/exercices/exo05" routerLinkActive="active-link">
              ✅ Exercice 05 - Menu complet
            </a>
          </li>
          <li>
            <a routerLink="/exercices/exo06" routerLinkActive="active-link">
              ❌ Exercice 06 -
            </a>
          </li>
          <li>
            <a routerLink="/exercices/exo07-1" routerLinkActive="active-link">
              ✅ Exercice 07.1 - Le chronomètre (Pipe)
            </a>
          </li>
          <li>
            <a routerLink="/exercices/exo07-2" routerLinkActive="active-link">
              ✅ Exercice 07.2 - Convertisseur de degré C° |
              F°</a>
          </li>
          <li>
            <a routerLink="/exercices/exo08" routerLinkActive="active-link">
              ✅ Exercice 08 - Générateur de formes
            </a>
          </li>
          <li>
            <a routerLink="/exercices/exo09" routerLinkActive="active-link">
              ✅ Exercice 09 - Panier de courses
            </a>
          </li>
          <li>
            <a routerLink="/exercices/exo10" routerLinkActive="active-link">
              ❌ Exercice 10 -
            </a>
          </li>
          <li>
            <a routerLink="/exercices/exo11" routerLinkActive="active-link">
              ✅ Exercice 11 - Shopping List
            </a>
          </li>
          <li>
            <a class="dropdown-item" routerLink="/exercices/exo12">
              ✅ Exercice 12 - Shopping List avec services
            </a>
          </li>
          <li>
            <a class="dropdown-item" routerLink="/exercices/exo15">
              ✅ Exercice 15 - Vérification d'âge
            </a>
          </li>
          <li>
            <a routerLink="/exercices/exo21" routerLinkActive="active-link">
              ✅ Exercice 21 - Pokedex avec HttpClient
            </a>
          </li>
        </ul>
      </li>
  
      <!-- <li>statusSubject : {{ isConnected ? "Connecté" : "Déconnecté" }}</li> -->
      <!-- <li>statusBehaviorSubject : {{ isConnected ? "Connecté" : "Déconnecté" }}</li> -->
  
    </ul>
  </nav>